$main_color: #f23252;
$secondary_color: #262d37;
$shadow_color: #973046;

@font-face {
    font-family: 'Lovelo';
    src:  url('./src/Lovelo Black.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@keyframes hoverAnim {
    0% {transform:rotate(5deg)}
    50% {transform:rotate(-5deg)}
    100% {transform:rotate(5deg)}
}

body {
    padding: 0;
    margin: 0;
    user-select: none;
    // font-family: 'Cormorant Garamond', serif;
    font-family: 'Jost', sans-serif;
    font-weight: 400;

    scrollbar-width: none;
    overflow: hidden; /* Hide scrollbars */
}

.background_circle {
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $main_color;
    opacity: 0.3;
    // filter: blur(10px);
}

#examples  {
    border: 1px solid black;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: auto;

    .side {
        display: flex;
    }

    .box {
        position: relative;
        margin: auto;

        width: 80%;
        height: 15%;
        min-height: 150px;

        margin-bottom: 1%;

        background-color: #fff;

        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);

        transition: 0.4s ease-in-out;

        &:hover {
            & {
                cursor: pointer;
                border-bottom: 1px solid rgba(0, 0, 0, 1);
                border-right: 1px solid rgba(0, 0, 0, 1);
            }

            .mask {
                transform: translateX(calc(70% + 1px));
                filter: grayscale(0%);

                .img {
                    opacity: 1;

                    &::after {
                        left: -10px;
                        top: calc(50% - 10px);
                        width: 20px;
                        height: 20px;  
                    }
                }
            }

            .hoverIcon {
                opacity: 0;
            }
        }

        .mask {
            // display: none;
            position: relative;
            z-index: 2;

            height: 100%;
            width: 100%;

            background-color: #fff;

            transition: 0.4s ease-in-out;

            .img {
                height: 100%;
                width: 30%;

                transition: 0.4s ease-in-out;

                background-position: center;
                background-size: cover;

                &::after {
                    content: "";
                    position: absolute;
                    left: -40px;
                    top: calc(50% - 40px);
                    width: 80px;
                    height: 80px;
                    background-color: #fff;
                    transform: rotate(45deg);

                    transition: 0.4s ease-in-out;
                }
            }
        }

        &:nth-child(1) .img {background-image: url("../Destination Hawaii/img/island.jpg");}
        &:nth-child(2) .img {background-image: url("../BookByBook/img/main.jpg");}
        &:nth-child(3) .img {background-image: url("../DMance/img/emmayti.jpg");}
        &:nth-child(4) .img {background-image: url("../NextLevel/img/banner.jpg");}
        &:nth-child(5) .img {background-image: url("../Vintage/img/baner.jpg");}

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: absolute;
                top: 0;
            z-index: 1;

            width: 70%;
            height: 100%;

            padding: 5%;
            box-sizing: border-box;

            color: black;
            text-align: center;

            .headline {
                // font-family: 'Lovelo';
                font-family: 'Yellowtail', cursive;
                font-weight: 400;
                font-size: 2.6em;
            }

            .content {
                font-size: 1.2em;
            }
        }

        .hoverIcon {
            position: absolute;
            z-index: 3;
            top: 15px;
            right: 15px;
            opacity: 0.3;
            font-size: 1.2rem;
            animation: 3s hoverAnim infinite;
            transition: 0.4s ease-in-out;
        }
    }
}