body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 340px;
  background-color: #3B4041;
}

a {
  color: white;
}

.credits {
  width: 200px;
  text-align: center;
  position: absolute;
  top: 0;
  left: calc(calc(100% - 200px)/2);
  color: white;
  font-size: 0.7rem;
  font-family: 'Open sans', sans-serif;
  z-index: 2;
}

#main {
  background-color: #fff;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

#main > header {
  font-family: 'Cormorant Garamond', serif;
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 200px;
  max-height: 450px;
}

#main > header > .title {
  font-size: 4rem;
  padding: 10vh 0vw 0vh 10vw;
  position: relative;
  z-index: 2;
}

#main > header > .subTitle {
  font-size: 1.6rem;
  padding: 0vh 0vw 0vh 10vw;
  position: relative;
  z-index: 2;
}

#main > header > .credits {
  color: black;
}

#main > header > .credits a {
  color: black;
}

#main > header > #main-image {
  background-image: url(img/onBed.jpg);
  background-position: 0% 75%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 30px 30px 0px 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

#main > #images {
  margin-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

#main > #images > .image {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-height: 250px;
  height: 30vh;
  max-height: 350px;
  border-radius: 30px 30px 0px 0px;
  -webkit-filter: grayscale(100) brightness(80%);
          filter: grayscale(100) brightness(80%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#main > #images > .image > .img {
  background-position: center;
  background-size: 120%;
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0px 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#main > #images > .image:nth-child(1) > .img {
  background-image: url(img/1.jpg);
}

#main > #images > .image:nth-child(1) > .credits {
  color: black;
}

#main > #images > .image:nth-child(1) > .credits a {
  color: black;
}

#main > #images > .image:nth-child(2) > .img {
  background-image: url(img/2.jpg);
}

#main > #images > .image:nth-child(3) > .img {
  background-image: url(img/3.jpg);
}

#main > #images > .image:nth-child(4) > .img {
  background-image: url(img/4.jpg);
}

#main > #images > .image > .credits {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.6rem;
}

#main > #images > .image:hover {
  -webkit-filter: grayscale(0) brightness(100%);
          filter: grayscale(0) brightness(100%);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}

#main > #images > .image:hover > .info {
  opacity: 1;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

#main > #images > .image:hover > .credits {
  opacity: 1;
}

#main > #images > .image:hover > .img {
  background-size: 140%;
}

#main > #images > .image > .info {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 30%;
  opacity: 0;
  text-align: center;
}

#main > #images > .image > .info > div:nth-child(1) {
  font-size: 1.5rem;
}

#main > #images > .image > .info > div:nth-child(2) {
  font-family: 'Martel', serif;
}

#main > #whyus {
  margin-top: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 7.5% 1% 7.5%;
  border-left: 2px solid #3B4041;
  border-right: 2px solid #3B4041;
}

#main > #whyus > div:nth-child(1) {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2%;
}

#main > #whyus > div:nth-child(2) {
  font-size: 1rem;
  font-family: 'Martel', serif;
  text-align: justify;
}

#main > #contact {
  margin-top: 10%;
  width: 80%;
  min-height: 350px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}

#main > #contact > div:nth-child(1) {
  letter-spacing: 2px;
  font-size: 1.2rem;
}

#main > #contact > div:nth-child(1) input {
  font-family: 'Martel', serif;
  outline: none;
  width: 60%;
  font-size: 0.8rem;
  border: none;
  padding: 4px 0px 0px 10px;
  border-bottom: 1px solid #3B4041;
}

#main > #contact > div:nth-child(1) textarea {
  font-family: 'Martel', serif;
  resize: none;
  outline: none;
  width: 60%;
  height: 36%;
  font-size: 0.8rem;
  border: none;
  padding: 4px 0px 0px 10px;
  border-bottom: 1px solid #3B4041;
}

#main > #contact > div:nth-child(1) #send {
  width: 10%;
  margin-top: 2%;
  margin-left: 49%;
  padding: 1%;
  background-color: #fff;
  border: 1px solid #3B4041;
  text-align: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#main > #contact > div:nth-child(1) #send:hover {
  background-color: #3B4041;
  color: white;
  cursor: pointer;
}

#main > #contact > div:nth-child(2) {
  background-size: 100%;
  background-position: top;
  border-radius: 30px 30px 0px 0px;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-image: url(img/contact.jpg);
  position: relative;
}

#main > #contact > div:nth-child(2) > .credits {
  font-size: 0.7rem;
  font-weight: 400;
  color: black;
}

#main > #contact > div:nth-child(2) > .credits a {
  color: black;
}

#main footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  opacity: 0.5;
  margin-top: 10%;
  padding-bottom: 2%;
  font-size: 0.8rem;
}

#main footer .meLink {
  color: black;
}
/*# sourceMappingURL=main.css.map */